@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
/*TODO: Add the JetBrains Mono font, request by Yasahiro
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
font-family: 'JetBrains Mono', monospace;*/

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; 
}

html, body {
  width: 100%; /*100vw*/
  height: 100%; /*100vh*/
  overflow: hidden;
}

.titlebar, .titlebar > * {
  font-family: 'JetBrains Mono', monospace; /*This is to apply the font in the titlebar*/
}


/*
The actual text area where the user inputs text.
Future plans are to add support for dark mode.
A nice color for dark mode is: #242424
textarea {
  background: #242424;
}
Sample code for changing the color.
*/
textarea {
  font-family: 'Roboto', sans-serif;
  width: 99%;
  height: 93%;
  padding-left: 10px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 20px; /*Font size for the input text*/
  outline: none; /*The entire outline code is to disable a yellow color that appears when clicking on it*/
  outline-color: transparent;
  outline-style: none;
  color: #0a0a0a; /*This is the text color*/
  background-color: #f5f5f5;
  resize: none; /*This is to remove the resize option found on the bottom-right corner*/
  border: none; /*This removes the black outline from the border*/
}

/*#region Scroll bar*/
/*Scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 0px;
  background: transparent;
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cac8c8;
}
/*#endregion*/
