name: ElectronJS Build

on: [pull_request, push]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run publish --if-present
    - run: echo "Process is completed!"
